body {
	background-color: lightblue;
	font-family: Arial;
}

p::first-letter {
	font-family: Times New Roman;
	font-size:20px;
	font-weight:bolder;
}

.navbar {
	background-color: #88bbeb;
	overflow: hidden;
}

.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
}


.navbar a:hover {
	background-color: #66aced;
	color: black;
	transition:0.5s;
}

.navbar a.active {
	background-color: #5a72d1;
	color: white;
}
#newsimg {
	border-radius: 25px;
	
}

#newsimg:hover {
	border-radius: 0px;
	transition: 1s;
}

.logo, .sitetitle {
	display: inline-block;
	vertical-align: middle;
}

.story {
	margin: 10px;
	padding: 2px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.story:hover {
	background-color: powderblue;
	transition: 0.5s;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

tr{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: powderblue;
}


.dropdown {
	overflow: auto;
	display:inline-block;
}

.tasklist {
	display: none;
	position: absolute;
	padding: 14px 16px;
	background-color: #88bbeb;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}



.tasklist a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}



.dropdown:hover .tasklist {
	display: inline-block;
}

#titlebar {
	margin: 5px;
}

.cssTask {
	color:#ffffff;
	padding: 3px;
	width:750px;
	word-break: break-word;
	background-size: contain;
	background-image:url("../imgs/vrChatWorld.png");
	background-repeat:repeat-y;
	outline: solid 3px black;
	transition: outline 0.6s linear, box-shadow 0.6s linear;
	margin: 0.5em;
	box-shadow:6px 10px rgba(0,0,0,0.1);
}

.cssTask:hover {
	outline-width: 10px;
	box-shadow:15px 20px rgba(0,0,0,0.1);
}

.cssTask h1 {
	text-decoration:underline;
}

.task1 .tooltiptext, .task2 .tooltiptext, .task3 .tooltiptext, .indeximg .tooltiptext  {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.task1:hover .tooltiptext, .task2:hover .tooltiptext, .task3:hover .tooltiptext, .indeximg:hover .tooltiptext   {
  visibility: visible;
}

.indeximg {
	margin-top: 10px;
}

.lorem {
	border-style: dashed;
	border-width: 2px;
	border-color: #ffffff;
}


#videodiv {
	float:right;
}

#h1video {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: blue;
	display: block;
	width: 10%;
}

